* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
/* global css */
.title p {
  color: #fff;
  font-weight: 700;
  text-align: center;
}
.title h2 {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
}
/* *********************** */

/* header section start */
/* nav section start*/
.header {
  background: #000;
}
.header .navbar {
  background-color: transparent;
}
.header .navbar .navbar-nav .nav-item {
  margin: 0px 15px;
}
.header .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #448ccb;
}
.header .navbar .navbar-nav .nav-item .nav-link.active {
  font-size: 16px;
  color: #007dea;
}
.header #nav-btm {
  border-bottom: 1px solid #fff;
}
.header #nav-btm .navbar {
  padding-top: 0;
}
.header #nav-btm .navbar .navbar-nav .nav-item .btn-primary {
  background-color: #007dea;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 300;
}
/* header section end */

/* hero section start*/
/* hero-top */
.hero {
  background-color: #000;
  padding: 100px 0 40px;
  position: relative;
}
.hero .hero-top {
  text-align: center;
}
.hero .hero-top h1 {
  color: #fff;
  font-size: 107px;
  font-weight: 900;
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.hero .hero-top .hero-top-img {
  width: 25%;
  text-align: center;
  margin: 0 auto 30px;
}
.hero .hero-top-btn {
  text-align: center;
}
.hero .hero-top-btn .btn:first-child {
  color: #fff;
  background-color: transparent;
  border: 1px outset transparent;
  border-radius: 8px;
  font-size: 14px;
  padding: 7px 20px;
}
.hero .hero-top-btn .btn:last-child {
  color: #fff;
  background-color: transparent;
  border: 1px outset #fff;
  border-radius: 8px;
  font-size: 14px;
  padding: 7px 30px;
}
.hero .hero-top-btn .btn-info:hover {
  border: 1px outset #448ccb;
  color: #448ccb;
}

/* hero-bottom */
.hero .hero-bottom {
  padding: 80px 0 0;
}
.hero .hero-bottom .title {
  padding: 80px 0;
}
.hero .hero-bottom .title h2 {
  font-size: 55px;
}
/* header section end */

/* comfort section start */
.comfort {
  background-color: #000;
}
/* comfort top */
.comfort-top {
  padding: 0 0 80px;
  background-color: #000;
  text-align: center;
  position: relative;
}
.comfort-top .title {
  padding: 0 0 80px;
}
.comfort-top .title h2 {
  color: #fff;
  font-size: 55px;
  text-align: center;
}
.comfort-top .comfortImg-left {
  width: 30%;
  text-align: center;
}
.comfort-top .comfortImg-right {
  width: 30%;
  text-align: center;
}

.comfort-top .text {
  width: 27%;
  margin: 300px auto 0;
}
.comfort-top .text p {
  color: #fff;
  text-align: justify;
  line-height: 1.3;
}

/* comfort mid */
.comfort-mid {
  background-color: #000;
  position: relative;
}
.comfort-mid .comfort-mid-img {
  text-align: center;
}
.comfort-mid .comfort-mid-img img {
  border-radius: 8px 8px 0 8px;
}
.comfort-mid .comfort-mid-text {
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 10%;
}
.comfort-mid .comfort-mid-text p {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
.comfort-mid .comfort-mid-text h2 {
  width: 60%;
  color: #000;
  font-weight: 700;
  font-size: 55px;
}

/* comfort bottom */
.comfort-btm {
  padding: 200px 0;
  background-color: #000;
  position: relative;
}

.comfort-btm .comfort-btmImg-left {
  width: 70%;
  margin: 0 auto;
}
.comfort-btm .comfort-btmImg-right {
  width: 70%;
  margin: 0 auto;
}
.comfort-btm .comfort-btm-text {
  /* position: absolute;
  top: 80%;
  left: 50%; */
}
/* .comfort-btm .comfort-btm-text p {
  line-height: 1.3;
} */
.comfort-btm .comfort-btm-text p:first-child {
  color: #fff;
  text-align: justify;
  text-indent: 10px;
  width: 22%;
  line-height: 1.3;
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 0 20px 0;
}
.comfort-btm .comfort-btm-text p:last-child {
  color: #fff;
  text-align: justify;
  text-indent: 10px;
  width: 22%;
  line-height: 1.3;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 0 20px 0;
}
/* comfort section end */

/* sound section start */
.sound {
  background-color: #000;
  padding: 150px 0;
}

.sound .title {
  padding: 0 0 150px;
}
.sound .sound-top-text p:first-child {
  color: #fff;
  text-align: left;
  width: 25%;
  line-height: 1.3;
}
.sound .sound-top-text p:last-child {
  color: #fff;
  width: 25%;
  float: right;
  line-height: 1.3;
}

.sound .sound-btm-text {
  text-align: center;
  width: 25%;
  margin: 80px auto;
}
.sound .sound-btm-text p {
  color: #fff;
  text-align: justify;
  line-height: 1.3;
}
/* sound section end */

/* spec section start */
/* spec-top */
.spec {
  background: #000;
}
.spec-top {
  position: relative;
}
.spec-top .spec-top-img {
  text-align: center;
}
.spec-top .spec-top-img img:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
}
.spec-top .spec-top-text .first {
  width: 20%;
  position: absolute;
  top: 23%;
  left: 33%;
  line-height: 1.3;
  text-align: justify;
  text-indent: 10px;
}
.spec-top .spec-top-text .mid {
  width: 20%;
  position: absolute;
  top: 30%;
  right: 10%;
  line-height: 1.3;
  text-align: justify;
  text-indent: 10px;
}
.spec-top .spec-top-text .last {
  width: 21%;
  position: absolute;
  top: 43%;
  left: 40%;
  line-height: 1.3;
  text-align: justify;
  text-indent: 10px;
}

/* spec-bottom */
.spec-bottom {
  background-color: #000;
  padding: 150px 0;
  text-align: center;
  position: relative;
}
.spec-bottom .spec-btm-img {
  width: 50%;
  margin: 0 auto;
}
.spec-bottom .spec-btm-text p:first-child {
  color: #fff;
  width: 20%;
  position: absolute;
  top: 5%;
  left: 15%;
  line-height: 1.3;
  text-align: justify;
  text-indent: 5px;
}
.spec-bottom .spec-btm-text p:last-child {
  color: #fff;
  width: 20%;
  position: absolute;
  bottom: 10%;
  right: 15%;
  line-height: 1.3;
  text-align: justify;
  text-indent: 10px;
}
/* spec section end */

/* battery section start */
.battery {
  background-color: #000;
  text-align: center;
  position: relative;
}
.battery .title {
  margin: 0 0 25px;
}
.battery .title p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.battery .title h2:first-child {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  padding: 0 0 16px 0;
}
.battery .title h2:last-child {
  color: #000;
  font-size: 55px;
  font-weight: 700;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 14%;
  transform: translate(-50%, -50%);
}
.battery .battery-btm {
  padding: 100px 0;
}
.battery .battery-btm .details {
  color: #fff;
  text-align: center;
}
.battery .battery-btm .details p:first-child {
  margin: 0 0 25px;
}
.battery .battery-btm .details h2 {
  margin: 0 0 25px;
  font-size: 55px;
  font-weight: 700;
}
.battery .battery-btm .details h2 small {
  font-size: 28px;
  font-weight: 400;
}
/* battery section end */

/* shop-now section start */
.shop-now {
  padding: 80px 0 150px;
  background-color: #000;
}
.shop-now .title {
  width: 100%;
  padding: 0 0 80px;
  margin: 0 auto;
}
.shop-now .title p {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.shop-now .shop-items {
  display: flex;
  justify-content: space-between;
}
.shop-now .shop-items .item {
  align-self: flex-end;
}
.shop-now .item {
  text-align: center;
}
.shop-now .item .item-img {
  width: 50%;
  margin: 0 auto 40px;
}
.shop-now .item .bold {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.shop-now .item .light {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  margin: 0 0 30px;
}
.shop-now .item h3 {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 25px;
}
.shop-now .item .btn-info {
  color: #fff;
  background-color: transparent;
  border: 1px outset #fff;
  border-radius: 8px;
  font-size: 14px;
  padding: 7px 50px;
}
.shop-now .item .btn-info:hover {
  border: 1px outset #448ccb;
  color: #448ccb;
}
.shop-now .item .btn-secondary {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  margin: 16px 0 0;
}
.shop-now .item .btn-secondary:hover {
  color: #448ccb;
}
/* shop-now section end */

/* footer-top section start */
.footer-top {
  background-color: #000;
}

.footer-top h2 {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  margin: 0 0 25px 0;
  text-align: center;
}
.footer-top .form-body {
  background-color: #fff;
  border-radius: 8px 8px 0 8px;
  padding: 25px 0;
}
.footer-top .form-body .title {
  padding: 0 0 80px;
}
.footer-top .form-body .title h2 {
  color: #000;
  font-size: 55px;
  font-weight: 700;
}
.footer-top .form-body .form .row {
  margin: 0 0 25px;
}
.footer-top .form-body .form .form-label {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.footer-top .form-body .form .form-control {
  font-size: 14px;
  font-weight: 500;
  color: #a1a1a1;
  border: 2px solid #a1a1a1;
}
.footer-top .form-body .form .input-group-text {
  background-color: transparent;
  border: 2px solid #a1a1a1;
  border-left: 1px solid #a1a1a1;
}
.footer-top .form-body .form .row:last-child {
  margin: 0 0 25px;
  text-align: center;
}
.footer-top .form-body .form .btn-info {
  color: #000;
  background-color: transparent;
  border: 1px outset #000;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  padding: 6px 32px;
}
.footer-top .form-body .form .btn-info:hover {
  border: 1px outset #a1a1a1;
  color: #a1a1a1;
}

/* footer-top section end */

/* footer section start */
.footer {
  padding: 40px 0;
  background-color: #000;
}
.inner-footer {
  display: flex;
  justify-content: space-between;
}
.footer .logo {
  align-self: flex-start;
}

.footer p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  align-self: center;
}
.footer p span {
  font-weight: 700;
}
.footer .footer-links {
  display: inline;
  list-style: none;
  float: right;
  margin-bottom: 0px;
  padding: 0;
}
.footer .footer-links li {
  display: inline-block;
}
.footer .footer-links li a {
  display: inline-block;
  color: #000;
  background-color: #fff;
  width: 40px;
  height: 40px;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 100%;
}
.footer .footer-links li a:hover {
  color: #000;
  background-color: #ccd0d2;
  border: 1px solid #ccd0d2;
}
/* footer section end */

/* The End */
